@charset "utf-8";
/*  Fonts */
/*  None defined for print */
/* Front page Image Filename */
/* Happenence colours */
/*  Fonts */
/* 
 * Logo position - left hand side
 * 15px margin all sides (half height of 30px)
 */
/* 
 * Breadcrumbs font-size 16px line height 24px
 */
/*  Body style in two columns */
article is-chapter {
  page: two-columns-page;
  widows: 4;
  orphans: 4;
  column-fill: auto;
}
.body is-chapter {
  page: two-columns-page;
  column-fill: auto;
}
/* Categories as inline lists */
.wp2dita-category-item {
  display: -oxy-morph;
}
ol,
li {
  page-break-inside: avoid;
}
/*  Avoid page break in a figure and caption*/
figure.fig {
  page-break-inside: avoid;
}
blockquote::before {
  content: "";
  font-size: 0.1px;
  text-align: left;
  line-height: 0px;
  font-style: normal;
  position: absolute;
  left: -3px;
}
blockquote::after {
  content: "";
  font-size: .01px;
  text-align: right;
  line-height: 0;
  font-style: normal;
  position: absolute;
  right: -3px;
}
/* Clear the padding for a section */
section.section {
  border: none;
  padding: 0em 0em 0em 0em;
  background-color: inherit;
  page-break-inside: avoid;
}
h2,
h2.sectiontitle {
  font-size: 12px;
  font-weight: bold;
  color: fuchsia;
  line-height: 1.5em;
  padding-top: 1em;
}
/*  override the floats on images */
/*  since PDF Chemistry doesn't support them */
.alignleft,
.alignright {
  float: none;
  text-align: center;
}
body {
  background: transparent;
}
*[class~="indexentry/indexentry"] {
  color: red;
  font-size: 12px;
  height: 15px;
}
@page {
  size: A4;
  margin: 2cm;
}
@page :left {
  margin-right: 1cm;
  
  @bottom-left {
    content: "Page: " counter(page);
  }
}
@page :right {
  margin-left: 1cm;
  
  @bottom-right {
    content: "Page: " counter(page);
  }
}
@page two-columns-page {
  column-count: 2;
  column-gap: 1cm;
}
@page front-page {
  margin-top: 75mm;
  margin-left: 15mm;
  background-color: transparent;
  
  /*    background-image: url(@FrontpageImage);
    background-position:0% 66%; /\* The first is the alignement on the X axis, the second on the Y axis.*\/
    background-repeat:no-repeat; */
  @bottom-left {
    content: "";
  }
}
*[class~="front-page/front-page-title"] {
  margin-top: 75mm;
  font-size: 96px;
  color: #212121;
  font-family: 'Fredericka the Great';
  background-color: transparent;
  text-align: center;
}
.booktitlealt {
  margin-top: 25mm;
  font-size: 24px;
  color: #212121;
  font-family: Lato, Helvetica, Arial, Sans-serif;
  background-color: transparent;
  text-align: center;
}
*[class~="map/map"] > *[class~="topic/topic"]:not([is-chapter]) {
  page: matter-page !important;
  page-break-before: always;
}
/* Remove the "chapter" prefix */
*[class~="map/topicmeta"] > *[class~="topic/navtitle"]:before {
  display: none !important;
}
*[class~="topic/topic"][is-chapter]:not([is-part]) > *[class~="topic/title"]:before {
  display: none !important;
  /*   content: counter(chapter) ". " !important;
*/
}
/*  Happenence force two-column */
*[class~="topic/topic"][is-chapter] {
  -oxy-page-group: start;
  page: two-columns-page;
}
booktitle:after {
  content: oxy_xpath("current-date()");
  color: gray;
  display: block;
}
*[class~="topic/topic"][is-chapter] > *[class~="topic/title"] {
  column-span: all;
  font-family: Lato;
  text-align: center;
  text-transform: none;
  line-height: 38px;
  letter-spacing: 0px;
  font-size: 24px;
  font-display: swap;
}
